a, a:hover, a:focus{text-decoration: none;}

.menu.menu-left{width: calc(100% - 100px) !important;}
.menu-open .menu-content{transform: translate3d(calc(100% - 100px), 0px, 0px) !important;}

.search-box {
/*
    background: rgb(59,103,158);
    background: -moz-linear-gradient(top,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    background: linear-gradient(to bottom,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );
*/

    background-color: #508000;
    color: #ffffff;
}
.search-box {height: 75px !important; margin-top: -1px}
.search-box input { height: 40px !important; font-family: 'arial'; font-weight: normal; }


.list{z-index: 10; }
.list li:first-child{border-top: 0}
.list li {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );color: #000000;
}
.list {cursor: default;}

.srd-icon img{ width: 80%; margin-left: 10%; margin-right: 10%;}
.srd-icon{position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top:150px}

.search-options select {margin-left:2.5%; margin-right:2.5%; width: 95%; padding-top: 5px; padding-bottom: 5px; border-radius: 5px 5px;}

.data-row{border-bottom: 1px solid #ddd; padding: 10px; }
.data-row strong {text-transform: capitalize;}

.data-type-url{color: #ff0000;}
.databox img{width: 100%;}


video, audio, iframe{ width: 100%;}

strong.name{
    font-size: 18px;
}

select, select option{
    text-transform: capitalize;
    padding-left: 10px;
}

select {
    border: 1px solid #ccc;
}

#clear i {
    font-size: 2em;
    color:azure;
}

div.heading{
    text-transform: capitalize;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 2px 0px 2px 20px;
}


h1.title{
    color: #ebe0cf !important;
}
ion-header-bar.bar.bar-stable.bar-header {
    background: url('http://careers.leviton.com/mobile/images/darkbg.jpg');
}

.title.title-center.header-item{
    color: #eee !important;
}
.bar-stable .button.button-icon{
    color: #ddd;
}


.dark {
  background: url('http://careers.leviton.com/mobile/images/lightbg.jpg') !important;
  color: #ffffff;
}
.dark .scroll-content {
  background: url('/img/lightbg.jpg') !important;
}
.dark .item {
  background: url('/img/lightbg.jpg');
  border-top: 1px solid #565656;
  border-bottom: 1px solid #111;
  padding: 15px 0px 15px 15px;
  color: #F0F1F1;
  max-height: none;
}
.dark .item:last-child {
  border-bottom: 1px solid #565656;
}
.dark .item.current {
  background-color: #262727 !important;
  border-top: 1px solid #565656 !important;
  border-bottom: 2px solid #111 !important;
}

ion-header-bar.bar.bar-dark.bar-header{
    background: url('http://careers.leviton.com/mobile/images/darkbg.jpg');
}
.dark .item.current p, .dark .item.current h3 {
  opacity: .7;
}
.dark h2,
.dark h3,
.dark p,
.dark a {
  color: #F0F1F1;
}

.dark-head {
  text-decoration: none;
}


button.button.back-button.buttons.button-clear.header-item {
    color: #ddd;
}

ion-content.scroll-content.ionic-scroll.has-header {
    background: #E6E5D7;
}
