<ion-view view-title="Simple Search">
    <ion-content ion-sticky has-bouncing="false">
        <ion-list>
            <div class="bar item-input-inset search-box item-divider">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input ng-change="filter(searchKey, by)" ng-model="searchKey" type="search" placeholder="Search by {{by}}">
                    <i class="ion-android-close placeholder-icon"></i>
                </label>
            </div>
            <ul class="list" id="search-results">
                <li class="item item-text-wrap" ng-repeat="item in list track by $index">
                    <span>{{item.key}} | {{item.value}}</span>
                </li>
            </ul>
        </ion-list>

        <div class="srd-icon">
            <img src="img/logo.png" alt="Simple Search ...">
        </div>

        <div class="search-options" ng-hide="searchKey">
            <select ng-model="by">
                <option value="degrees">Degrees</option>
                <option value="colleges">Colleges</option>
                <option value="building">Building</option>
            </select>
        </div>
    </ion-content>
</ion-view>
