<ion-view view-title="Simple Search">
    <ion-content ion-sticky has-bouncing="false">
        <ion-list>
            <div class="bar item-input-inset search-box item-divider">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input ng-change="filter(searchKey)" ng-model="searchKey" type="search" placeholder="Search">
                    <i class="ion-android-close placeholder-icon"></i>
                </label>
            </div>
            <ul class="list" id="search-results">
                <li class="item item-text-wrap" ng-repeat="item in list track by $index">
                    <span>{{item.key}} | {{item.value}}</span>
                </li>
            </ul>

            <div class="srd-icon">
                <img src="img/logo.png" alt="Simple Search ...">
            </div>
        </ion-list>
    </ion-content>
</ion-view>
